.site-header {
    padding-bottom: 2em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

}

.site-header .site-title {
    font-size: 1.4em;
}

.site-header .site-title a {
    color: #369;
    text-decoration: none;
}
